.detail-top{margin:0;}
.dti-title{text-transform:uppercase; font-weight:bold; font-size:24px; line-height:140%; margin-bottom:var(--section-space-small);}
.dti-catedate{display:flex;}
.dti-cate{padding-right:var(--section-space-small); margin-right:var(--section-space-small); border-right:1px solid; text-transform:capitalize; font-weight:normal;}
.detail-top-image{position:relative; margin-top:var(--section-space-medium);}
.detail-top-image:before{content:''; display:block; padding-top:56.25%;}
.detail-top-image img, .detail-top-image iframe{position:absolute; top:0; left:0; width:100%; height:100%;}

.detail-content{margin-top:calc(var(--section-space-big) * -1);}
.detail-content main{font-size:16px; line-height:150%; display:grid; grid-row-gap:var(--section-space-medium); 
word-wrap:break-word; word-break:break-word; hyphens:auto;}
.detail-content main h2, .detail-content main h3, .detail-content main h4{font-weight:600; line-height:150%;}
.detail-content main h2{font-size:22px;}
.detail-content main h3{font-size:20px;}
.detail-content main h4{font-size:18px;}
.detail-content main > ul, .detail-content main > ol{padding-left:20px;}
.detail-content main > ul{list-style:square;}
.detail-content main > ol{list-style:decimal;}
.detail-content main > ul > li, .detail-content main > ol > li{padding:2px 0;}
.detail-content-image:before{padding-top:56.25%;}

.detail-character{--max-thumb-size:400px; display:grid; grid-gap:var(--section-space-medium);}
.dct-frame{max-width:var(--max-thumb-size); margin:0 auto;}
.dct-frame:before{padding-top:136.4%;}
.detail-character-info{display:grid; grid-auto-rows:min-content; grid-gap:var(--section-space-small);}
.dci-level{--level-icon-height:24px; display:grid; grid-template-columns:var(--level-icon-height) 1fr; grid-gap:var(--section-space-small);}
.dci-level > div{height:24px;}
.dci-level img{object-fit:contain; object-position:center left;}
.dci-name{font-weight:bold; font-size:24px;}
.dci-other{display:grid; grid-gap:var(--section-space-medium); border-top:1px dashed;
padding-top:var(--section-space-medium); margin-top:var(--section-space-small);}
.dci-more{display:grid; grid-gap:var(--section-space-tiny);}

@media screen and (min-width:0px) and (max-width:1023px){
  .detail-top-info{margin:0 var(--section-space-medium);}
}

@media screen and (min-width:568px){
  .detail-character{grid-template-columns:calc(var(--max-thumb-size) / 2) 1fr;}
}

@media screen and (min-width:768px){
  .detail-character{grid-template-columns:var(--max-thumb-size) 1fr;}
}