:root{
  --rounded-normal:8px;
  --shadow-default:0 2px 10px rgb(0 0 0 / 25%);
  --shadow-inset:inset -2px -2px 4px rgba(255,255,255,.2), inset 2px 2px 12px rgba(0,0,0,.2);
  --color-link-primary:#FFFFFF; 
  --color-link-secondary:#F43B86;
  --color-link-tertiary:#FFD291;
  --color-border:rgba(255,255,255,0.25);
}

a, .btn, #btt, .svgicon-more, .nri-action-button{transition:all 0.25s; -moz-transition:all 0.25s; -webkit-transition:all 0.25s; -o-transition:all 0.25s;}
a, .btn, #btt{cursor:pointer}
a{color:var(--color-link-primary); fill:var(--color-link-primary);}
a:focus, .header-profile:hover{opacity:0.6;}
.btn, a.btn{border-radius:calc(2 * var(--rounded-normal)); background-color:transparent; border-color:var(--color-link-secondary); color:var(--color-link-secondary);}
.btn:hover, a.btn:hover{border-color:var(--color-link-tertiary); color:var(--color-link-tertiary);}
#btt{position:fixed; bottom:calc(var(--body-padding) + var(--section-space-medium)); right:var(--section-space-medium); 
z-index:calc(var(--max-zindex) - 4000); font-size:18px; width:36px; height:36px; 
background-color:var(--color-link-secondary); fill:var(--color-background); border-radius:50%;}
#btt:hover, #btt:focus{background-color:var(--color-link-tertiary);}
.header-logo:hover{opacity:0.5;}
.flex_ori > img{opacity:0; transition:all 300ms;}
.flex_ori > img.lazyloaded{opacity:1;}
.muat-lainnya{margin-top:var(--section-space-medium);}
.share-list-fb{fill:#4867aa;}
.share-list-tw{fill:#00acec;}
.share-list-wa{fill:#2bb240;}
.share-list-li{fill:#41c106;}
.sticky-curr{color:var(--color-link-secondary) !important; fill:var(--color-link-secondary) !important;}
.section-title{color:var(--color-default); stroke:var(--color-default);}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:var(--color-link-tertiary);}
@-webkit-keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}
@keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}

header{box-shadow:var(--shadow-default);}
.header-profile-avatar{border-radius:50%; border-color:var(--color-link-primary);}

.news-row{border-color:var(--color-border);}
.nrt-box{border-radius:var(--rounded-normal); overflow:hidden;}
.nri-action-button{color:var(--color-link-primary); fill:var(--color-link-primary);}
.nri-action-button:hover{color:var(--color-link-tertiary); fill:var(--color-link-tertiary);}
.nri-action-pressed{color:var(--color-link-secondary); fill:var(--color-link-secondary);}

.event-row{border-color:var(--color-border);}
.event-row > div:not(.event-title){color:var(--color-default);}

.officer-box{background-color:hsl(var(--color-sticky) / 100%); border-color:rgba(255,255,255,0.1); border-radius:var(--rounded-normal); overflow:hidden;}
.officer-box:hover{--color-sticky:0deg 0% 0%;}
.officer-birth, .officer-desc{color:var(--color-default);}
.officer-card .officer-thumb:after{background:linear-gradient(to bottom, hsl(var(--color-sticky) / 0%) 50%, hsl(var(--color-sticky) / 100%) 100%);}
.officer-more{color:var(--color-link-primary); fill:var(--color-link-primary);}
.officer-more:hover{color:var(--color-link-tertiary); fill:var(--color-link-tertiary);}

.member-box{border-color:var(--color-border); border-radius:var(--rounded-normal); overflow:hidden;}
.member-box:hover{border-color:var(--color-link-tertiary);}
.member-thumb-circle{border-radius:50%; border-color:var(--color-border);}
.member-birth{color:var(--color-default);}

.live-chat iframe{border-radius:var(--rounded-normal); overflow:hidden;}

.ohc-line:after{background-color:var(--color-default);}
.ohc-circle{background-color:var(--color-background); border-color:var(--color-default); border-radius:50%;}
.ohc-arrow{position:absolute; z-index:3; bottom:0; left:0; width:100%; fill:var(--color-default);}
.ohc-right{display:flex; align-items:center;}
.ohc-right b{padding-top:2px; display:block;}
.ohc-right .home-image{border-radius:var(--rounded-normal); overflow:hidden;}
.ohc-destination{color:var(--color-link-tertiary);}
.ohc-destination .ohc-circle{border-color:var(--color-link-tertiary);}
.ohc-destination .ohc-arrow{display:none;}

footer{padding:var(--section-space-medium); border-top:1px dashed var(--color-border);}

.popup-open{color:var(--color-link-tertiary); fill:var(--color-link-tertiary);}
.popup-box{position:fixed; z-index:calc(var(--max-zindex) - 2000);}



@media screen and (min-width:0px) and (max-width:1023px){
  .menu-bottom{box-shadow:var(--shadow-default);}
  
  .popup-menu{bottom:0; left:0; width:100%; height:100vh; padding:var(--body-padding) 0; background-color:hsl(var(--color-sticky) / 100%); overflow-y:auto;}
  .popup-menu.popup-box-show{display:grid !important;}
  .popup-menu .sticky-link{justify-content:flex-start; padding:0 var(--section-space-medium);}
  .popup-menu .sticky-link:not(:first-child){border-top:1px dashed var(--color-border);}
  .popup-menu .sticky-link > span{display:grid; grid-template-columns:22px 1fr; grid-gap:var(--section-space-small);}
  .popup-menu .bottom-name{margin-top:0; line-height:normal; font-size:14px;}
}

@media screen and (min-width:1024px){
  a:hover{color:var(--color-link-tertiary); fill:var(--color-link-tertiary);}
}

@supports(-webkit-backdrop-filter:none) or (backdrop-filter:none){
  .bg-transparent{-webkit-backdrop-filter:blur(0px) !important; backdrop-filter:blur(0px) !important;}
  header, .menu-bottom, .popup-menu{-webkit-backdrop-filter:blur(10px); backdrop-filter:blur(10px); background-color:hsl(var(--color-sticky) / 50%);}
  .popup-menu{background-color:hsl(var(--color-sticky) / 70%);}
}