.mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}
header > span, .site-container > span{position:relative; max-width:var(--site-container);}

header > span{margin:0 auto;}
header .header-logo{padding-left:0;}
header .header-share{padding-right:0;}

.site-container > span > *{position:relative; z-index:2;}
.main-container{min-height:calc(100vh - var(--body-padding) - var(--section-space-big) - var(--section-space-big));}
.main-container-split{grid-template-columns:1fr 300px;}
.column-small-container{position:-webkit-sticky; position:sticky; top:calc(var(--body-padding) + var(--section-space-medium)); padding-bottom:0.1px;}