*,html{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:800}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer}.hide{display:none;}

:root{
  --site-container:970px;
  --section-space-tiny:4px;
  --section-space-small:8px;
  --section-space-medium:16px;
  --section-space-big:24px;
  --section-space-huge:32px;
  --body-padding:56px;
  --max-zindex:2147483648;
  
  --color-background:#3C3E42; 
  --color-sticky:#212121; 
  --color-default:#E0E0E0; 
}

body, html{font-family:'Montserrat', sans-serif; font-size:14px; font-weight:400; letter-spacing:0.4px; font-feature-settings:'lnum' 1; color:var(--color-default);
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
body{overflow-x:hidden; position:relative; background-color:var(--color-background); padding-top:var(--body-padding);}
a{font-weight:600;}
.btn, a.btn{padding:8px 16px; font-weight:bold; -webkit-appearance:none; text-align:center; text-transform:uppercase;}
.bg-transparent{background-color:transparent !important; box-shadow:0 0 0 !important;}
.bg-transparent .sticky-link{border:0 !important;}
#btt{display:none;}
.content_center{display:flex; justify-content:center; align-items:center;}
.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}
.sticky-link{height:var(--body-padding);}
.sticky-link .svgicon-share{height:18px;}


header{position:fixed; top:0; left:0; width:100%; z-index:calc(var(--max-zindex) - 200); background-color:var(--color-sticky); box-shadow:var(--shadow-default);}
header > span{display:flex; justify-content:space-between;}
header .sticky-link{padding:0 var(--section-space-small);}
.header-left, .header-right, menu{display:flex;}

.site-container > span{width:100%; margin:0 auto; display:block;}
.main-container{display:grid; grid-gap:var(--section-space-huge); grid-template-columns:1fr; margin:var(--section-space-medium) 0;}
.column-big-container, .column-small-container{display:grid; grid-template-columns:1fr; grid-template-rows:min-content; grid-row-gap:var(--section-space-huge);}

@media screen and (min-width:0px) and (max-width:1023px){
  .desktop-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  body{padding-bottom:var(--body-padding);}
  
  header .header-logo{padding-left:var(--section-space-medium);}
  header .header-share{padding-right:var(--section-space-medium);}
  
  .menu-bottom{--icon-size:16px; position:fixed; bottom:0; left:0; width:100%; z-index:calc(var(--max-zindex) - 200); 
  display:flex; background-color:var(--color-sticky);}
  .menu-bottom .sticky-link{width:100%; border-left:1px solid;}
  .menu-bottom .sticky-link:first-child{border-left:0;}
  .bottom-icon{font-size:var(--icon-size); text-align:center; font-weight:normal; height:var(--icon-size);}
  .bottom-icon .svgicon{height:var(--icon-size);}
  .bottom-name{font-size:10px; line-height:10px; text-align:center; margin-top:var(--section-space-small); font-weight:normal;}
  
  .base-container{margin:0 var(--section-space-medium);}
  .main-container{grid-template-rows:auto 1fr; 
  min-height:calc(100vh - var(--body-padding) - var(--body-padding) - var(--section-space-medium) - var(--section-space-medium));}
}